
{% load i18n %}
{% load static %}


   {% comment %} content in center {% endcomment %}
   <div class="ms-[255px] min-h-full">

      <div class="flex justify-between items-center text-2xl font-bold mx-6 my-9">
         <h2> {{clas.name}} </h2>
         <div class="flex justify-between items-center" >

         <form method="POST" action="{% url 'core:class_manage' clas.id %}" >
            {% csrf_token %}
            <button type="submit" name="download-classes" class="mx-2 px-3 py-3 text-lg font-semibold bg-sky-500 text-white rounded-xl hover:bg-gray-700">Download</button>
         </form>
         <a onclick="toggleDrawer('manage-class-drawer')" class="mx-2 px-3 py-3 text-lg font-semibold bg-sky-500 text-white rounded-xl hover:bg-gray-700">Manage</a>
         
      </div>
      </div>

      <div class="relative overflow-x-auto">
         <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xl text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
               <tr>
                  <th scope="col" class="px-6 py-3">
                     Name
                  </th>
                  <th scope="col" class="px-6 py-3">
                     Role
                  </th>
               </tr>
            </thead>
            <tbody class="text-l" >

               <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     {{clas.teacher.name}}
                  </th>
                  <td class="px-6 py-4">
                     Teacher
                  </td>
               </tr>

               {% for student in clas.student.all %} 

                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                     <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{student.name}}
                     </th>
                     <td class="px-6 py-4">
                        Student
                     </td>
                     <td class="px-6 py-4">
                        <form method="POST" action="{% url 'core:class_manage' clas.id %}" >
                           {% csrf_token %}
                           <input hidden name="student" value="{{student.id}}" ></input>
                           <button type="submit" name="delete-student" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Remove</button>
                        </form>
                     </td>
                  </tr>

               {% endfor %}

            </tbody>
         </table>
      </div>

   </div>






   <!-- drawer component -->
 <div id="manage-class-drawer" class="fixed top-20 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
   <h5 id="drawer-right-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
      Manage Class
   </h5>
    
   <button type="button" onclick="toggleDrawer('manage-class-drawer')" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white" >
       <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
       </svg>
       <span class="sr-only">Close menu</span>
    </button>

   <form method="POST" action="{% url 'core:class_manage' clas.id %}" class="mb-6">
      {% csrf_token %}
      <div class="mb-6">
         <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Class Name</label>
         <input name="name" {% if clas.name %} value="{{clas.name}}" {% endif %} type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Math" required>
      </div>
      
      <div class="mb-6">
         <label for="assignee" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teacher Assignee</label>
         <select name="assignee" id="assignee" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            {% for teacher in teachers %}    
               {% if clas.teacher == teacher %}
               <option value="{{teacher.id}}" selected>{{teacher.name}}</option>
               {% else %}
               <option value="{{teacher.id}}" >{{teacher.name}}</option>
               {% endif %}
            {% endfor %}
         </select>
      </div>

      <div class="mb-6">
         <label for="students" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Students</label>
         <input name="students" type="text" id="student_{{clas.id}}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Students" required>
      </div>

      <button type="submit" name="manage-classes" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Submit</button>
   </form>

   <form method="POST" action="{% url 'core:class_manage' clas.id %}" class="mb-6">
      {% csrf_token %}
      <button type="submit" name="delete-classes" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Delete</button>
   </form>

 </div>

 <script>
   var student_elm = document.getElementById("student_{{clas.id}}")
   var tagify = new Tagify(student_elm, {
      whitelist: [
      {% for student in students %}
      { "value": "{{student.name}}", "id": "{{student.id}}" },
      {% endfor %}
  
      ],
      maxTags: {{ students|length }},
      dropdown: {
          maxItems: 20,           // <- mixumum allowed rendered suggestions
          classname: "tagify__inline__suggestions", // <- custom classname for this dropdown, so it could be targeted
          enabled: 0,             // <- show suggestions on focus
          closeOnSelect: true    // <- do not hide the suggestions dropdown once an item has been selected
      },
      originalInputValueFormat: valuesArr => valuesArr.map(item => item.id).join(','), // Include item.id in the submitted values
  
  });

   {% for student in clas.student.all %}
   tagify.addTags([{ value: "{{student.name}}", id: "{{student.id}}" }]);
   {% endfor %}

 </script>

